<!DOCTYPE html>
<html lang="en" ng-app="fbApp">

<head>
    <title>Collections in Firebase</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.min.js"></script>

    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body ng-controller="SyncController">
    <div class="container">
        <div class="page-header">
            <h1>Reading Collections Data From Firebase</h1>
        </div>
        <div class="row">

            <div class="col-xs-6">
                <h3>Guestbook Posts</h3>
                <pre>{{posts | json}}</pre>
            </div>


            <div class="col-xs-6">
                <h3>Sign Guestbook</h3>

                <form ng-submit="addPost()">
                    <input type="text" ng-model="message" placeholder="Enter your message">
                    <input type="submit" value="Post">
                </form>

                <hr />

                <div class="well well-sm" ng-repeat="post in posts | orderBy:'-'">
                    <p class="lead">{{post.message}}</p>
                    <p class="text-right" am-time-ago="post.date"></p>
                    <a ng-click="removePost(post)">Remove</a>
                </div>

            </div>
        </div>
    </div>
</body>

</html>